// Mixins Here

.btn(@buttonColor, @fontColor){
    background-color: @buttonColor;
    color: @fontColor;
    border-radius: 10px;
    width: 80%;
    height: 30px;
    text-align: center;
    font-size: 1.3rem;
    padding-top: 8px;
}